<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            main_page
        </title>
    </head>
    <body>
        <h1>Movies Search</h1>
        <p> <a href='/movie_list_pre'>Movie List</a> </p>
        <p> <a href='/search_by_name'>Search by name</a> </p>
        <p> <a href='/search_by_genre'>Search by genre</a> </p>
        <h1>Movie statistics</h1>
        <p> <a href='/plot'>Movie category</a> </p>
        <p> <a href='/director_count'>10 Movie directors with the highest movie counts</a> </p>
    </body>
</html>