<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> search_by_genre</title>
</head>
<body>
    <form action="/response" method="POST">
        <p>
            What's your favorite movie genre? <br>
            <input type="radio" name="genre" value="Drama"> Drama <br/>
            <input type="radio" name="genre" value="Mystery"> Mystery <br/>
            <input type="radio" name="genre" value="Romance"> Romance <br/>
            <input type="radio" name="genre" value="War"> War <br/>
            <input type="radio" name="genre" value="Crime"> Crime <br/>
            <input type="radio" name="genre" value="History"> History <br/>
            <input type="radio" name="genre" value="Adventure"> Adventure <br/>
            <input type="radio" name="genre" value="Biography"> Biography <br/>
            <input type="radio" name="genre" value="Family"> Family <br/>
            <input type="radio" name="genre" value="Fantasy"> Fantasy <br/>
            <input type="radio" name="genre" value="Musical"> Musical <br/>
            <input type="radio" name="genre" value="Comedy"> Comedy <br/>
            <input type="radio" name="genre" value="Thriller"> Thriller <br/>
            <input type="radio" name="genre" value="Film-Noir"> Film-Noir <br/>
            <input type="radio" name="genre" value="Music"> Music <br/>
            <input type="radio" name="genre" value="Action"> Action <br/>
            <input type="radio" name="genre" value="Sci-Fi"> Sci-Fi <br/>
            <input type="radio" name="genre" value="Horror"> Horror <br/>
            <input type="radio" name="genre" value="Sport"> Sport <br/>
            <input type="radio" name="genre" value="Western"> Western <br/>
            <input type="radio" name="genre" value="Animation"> Animation <br/>
        </p>
        <input type="submit" value="Submit Form"/>
    </form>
    <p><a href='/'>Back to Main Menu</a></p>
</body>
</html>